!--------------!
! URXVT CONFIG !
!--------------!

URxvt.internalBorder:	0
URxvt.scrollBar:	false
URxvt.letterSpace:	-1
URxvt.cursorColor:	#f1f1f0
URxvt.font: xft:IBM 3270:size=14, xft:Fira Mono:size=11, xft:Font Awesome 5 Free Solid:size=10
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size,clipboard
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/opera
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste

!-------------!
! ROFI CONFIG !
!-------------!

! state			background	border		separator
rofi.color-window:	#ffffff,	#191919,	#191919	

! state			bg		fg		abg		hbg		hfg
rofi.color-normal:	#ffffff,	#191919,	#ffffff,	#191919,	#ffffff

! general
rofi.width: 33
rofi.padding: 30
rofi.hide-scrollbar: true
rofi.borderwidth: 0
rofi.columns: 1
rofi.lines: 5
rofi.separator-style: solid
rofi.font: Fira Mono 11

rofi.color-enabled: true
!rofi.color-window: #f2a2f0, #f2a2f0, #f2a2f0
!rofi.color-normal: #f2a2f0, #f2a2f0, #f2a2f0


! ------------------------------------------------------------------------------
! theme colors
! ------------------------------------------------------------------------------
! special
*.foreground:   #f8f8f2
*.background:   #282a36
*.cursorColor:  #f8f8f2

! black
*.color0:       #000000
*.color8:       #4d4d4d

! red
*.color1:       #ff5555
*.color9:       #ff6e67

! green
*.color2:       #50fa7b
*.color10:      #5af78e

! yellow
*.color3:       #f1fa8c
*.color11:      #f4f99d

! blue
*.color4:       #bd93f9
*.color12:      #caa9fa

! magenta
*.color5:       #ff79c6
*.color13:      #ff92d0

! cyan
*.color6:       #8be9fd
*.color14:      #9aedfe

! white
*.color7:       #bfbfbf
*.color15:      #e6e6e6

